.renderTextarea {
    textarea {
        border-radius: 1.25rem;
        background: #fff;
        border: 1px solid #f0f1f5;
        color: black;
        height: auto !important;
    }

    textarea:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: none !important;
    }
    .errorFloat {
        font-size: 16px;
        background: transparent;
        z-index: 3;
    }
    .errorFloat .wrap {
        font-size: 0.8rem;
        background: white;
        padding: 3px 2px;
        z-index: 5;
        border: 1px solid #dc3545 !important;
        border-radius: 2px;
    }
    .errorFloat .wrap:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 6px solid white;
        top: 2px;
        right: 20%;
        position: absolute;
        transform: translateY(-100%) translateX(50%);
        z-index: 6;
    }
    .errorFloat .wrap:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 6px solid #dc3545 !important;
        top: 1.2px;
        right: 20%;
        position: absolute;
        transform: translateY(-100%) translateX(50%);
        z-index: 4;
    }

}